.demo.wx-TCEks3sn {
  padding: 20px;
}

.demo.wx-TCEks3sn .wx-grid.wx-responsive-1000 {
  font-size: 15px;
}

.demo.wx-TCEks3sn .wx-grid.wx-responsive-600 {
  font-size: 16px;
}

.demo.wx-TCEks3sn .wx-grid.wx-responsive-600 .wx-cell {
  padding-top: 13.4px;
  padding-bottom: 13.4px;
}
