.controls.wx-5UQD6jk9 {
  display: flex;
  gap: 20px;
  width: 700px;
  margin-bottom: 20px;
}
.container.wx-5UQD6jk9 {
  width: 1200px;
  height: 800px;
  background-color: #e7dcf7;
  padding: 10px;
  margin-bottom: 30px;
}
