.data.wx-RZBhyix5 {
  padding: 10px;
  white-space: nowrap;
}

.line.wx-RZBhyix5 {
  padding-top: 4px;
}

.line.wx-RZBhyix5.stars {
  display: flex;
  padding-top: 8px;
}

.wxi-cat.wx-RZBhyix5 {
  font-size: 20px;
}

.wxi-cat.wx-RZBhyix5.filled {
  color: gold;
}
