.date.wx-bOkubjgE {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.date.wx-bOkubjgE i {
  color: var(--wx-color-primary);
  font-size: 20px;
}
.empty.wx-bOkubjgE {
  color: var(--wx-color-font-disabled);
}
