.header-content.wx-DH6iKuWS {
  display: flex;
  align-items: center;
}

.header-content.wx-DH6iKuWS span {
  margin-left: 10px;
}

.header-content.wx-DH6iKuWS i {
  display: inline-flex;
  font-size: 20px;
}
