.container.wx-Q4PjmCsS {
  height: 100%;
}
.container.wx-Q4PjmCsS,
.status.wx-Q4PjmCsS {
  display: flex;
  align-items: center;
}
.status.wx-Q4PjmCsS {
  justify-content: center;
  border-radius: 12px;
  padding: 0 8px;
  gap: 4px;
  position: relative;
}
.status.wx-Q4PjmCsS:before {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  border-radius: 18px;
  opacity: 0.15;
}
.status.wx-Q4PjmCsS.active::before,
.active.wx-Q4PjmCsS .dot.wx-Q4PjmCsS {
  background: var(--wx-color-success);
}
.active.wx-Q4PjmCsS {
  color: var(--wx-color-success);
}
.status.wx-Q4PjmCsS.non-active::before,
.non-active.wx-Q4PjmCsS .dot.wx-Q4PjmCsS {
  background: var(--wx-color-font-alt);
}
.non-active.wx-Q4PjmCsS {
  color: var(--wx-color-font-alt);
}
.dot.wx-Q4PjmCsS {
  height: 6px;
  width: 6px;
  border-radius: 50%;
}
